h1{
   text-align: center;
   color: #1434A4;
}
.box {
   background-color: #f0f0f0; /* Light gray background */
   border: 1px solid #ccc;    /* Light gray border */
   border-radius: 8px;        /* Rounded corners */
   padding: 20px;             /* Inner space */
   margin: 20px 0;           /* Space above and below */
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}
button {
   width: 100%;
   padding: 10px;
   background-color: #fff59d ;
   color: white;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}
